<div class="container">

<div class="card m-3" >
  <div class="card-header d-flex justify-content-between">
    <div class="d-flex">

      <h5 class="card-title "><%=@post.title%> </h5>
      <p class="mx-3">by <%=@post.user.name%></p>
    </div>

    <p><span>Comments: <%=@post.comments_counter%></span>  <span>Likes:  <%=@post.likes_counter%>  </span>
    <%if can? :destroy, @post%>
    <%= link_to 'Remove', user_post_path(@post.user, @post), method: :delete, data: { turbo_method: :delete } %>
    <%end%>
    </p>
  </div>
  <div class="card-body">
    
    <p class="card-text"><%=@post.text%></p>
  </div>
  <div class="card-footer">

    <%= link_to 'Add comment', new_user_post_comment_path(user_id: @post.user_id, post_id: @post.id), class: 'mb-3 h5' %>

    <%@post.comments.each do |comment|%>
    <%= render partial: 'comments/comment', locals: { comment: comment }%>
    <%end%>
  </div>
</div>
</div>